* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header {
    position: sticky;

    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: purple;

    width: 100%;
    top: 0;
    left: 0;
}

header h1 {
    color: white;
}

header button {
    font-size: 1rem;
    color: white;
}

body {
    background-color: #fff;
}

#chat-section {
    width: 90%;
    border-left:2px solid #efefef;
    border-right:2px solid #efefef;
    height: 75vh;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#greeting {
    padding-top: 100px;
    text-align: center;
}

#greeting h1 span {
    color: purple;
}

.chat-bubble {
    min-width: 40%;
    max-width: 90%;
    background-color: #efefef;
    margin: 3px;
    padding: 15px;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: wrap;
}

.user-bubble {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #e6f4ea;
}

.user-bubble pre{
    text-wrap: wrap;
}

.olive-bubble {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: rgb(243, 201, 243);
}

.error-bubble {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: rgb(242, 194, 194);
    color: red;
}

#prompt-entry-container {
    padding-top: 1%;
    width: 100%;
    border-top: 2px solid #a0a0a0;
}

#prompt-entry {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #efefef;

    padding: 10px 20px;
    border-radius: 30px;
}

#prompt-entry textarea {
    padding: 5px 3px;

    border-style: none;
    border-radius: 4px;
    width: 100%;
    height: auto;

    resize: none;
    overflow-y: hidden;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #efefef;
}

#prompt-entry textarea:focus {
    outline: none;
    background-color: #fff;
}

#prompt-entry button {
    align-self: flex-end;
    font-size: 1rem;
    margin: 5px;
    background-color: purple;
    padding: 8px 12px;
    border-radius: 15px;
    color: white;
    transition: .2s ease-in;
}

#prompt-entry button:hover {
    background-color: rgb(243, 201, 243);
    color: black
}